---
layout: default
title: News | Code for Portland
heading: News
group: navigation
---

{% assign posts = site.categories.news %}

<header class="article-header">
  <div class="row">
    <hgroup class="padding-leader-2">
      <h1 class="article-title">News</h1>
    </hgroup>
  </div>
</header>

<main class="leader-1 trailer-2">
  <div class="row">
    {% for post in posts %}
      {% include post.html %}
      {% unless forloop.last %}
      <hr class="light-blue">
      {% endunless %}
    {% endfor %}
  </div>
</main>
