<footer>
  <hr>
  <div class="row">
    <div class="large-6 columns">
      <p>
      &copy;2014 Code for Portland and its Contributors <a href="http://creativecommons.org/licenses/by/3.0/deed.en_US">(CC BY 3.0)</a>.
      </p>
    </div>
    <div class="large-6 columns">
      <ul class="inline-list right">
        <li><a rel="me" href="https://twitter.com/codeforportland">twitter/@codeforportland</a></li>
        <li><a rel="me" href="https://groups.google.com/forum/#!forum/code-for-portland">mailing list</a></li>
        <li><a rel="me" href="http://www.meetup.com/Code-for-Portland/">meetup</a></li>
        <li><a href="irc://chat.freenode.net/codeforportland">#codeforportland on freenode IRC</a></li>
        <li><a href="http://webchat.freenode.net/?channels=codeforportland">webchat</a></li>
      </ul>
    </div>
  </div>
</footer>

{% for js in site.js %}
<script type="text/javascript" src="{{ js }}"></script>
{% endfor %}

</body>
</html>
