<footer>
  <hr>
  <div class="row">
    <div class="large-6 columns">
      <p>
      &copy;2014 Code for Portland and its Contributors <a href="http://creativecommons.org/licenses/by/3.0/deed.en_US">(CC BY 3.0)</a>.
      </p>
    </div>
    <div class="large-6 columns">
      <ul class="inline-list right">
        <li><a href="https://twitter.com/codeforportland">twitter/@codeforportland</a></dd>
        </li>
      </ul>
    </div>
  </div>
</footer>

{% for js in site.js %}
<script type="text/javascript" src="{{ js }}"></script>
{% endfor %}

</body>
</html>
