---
layout: default
title: Meeting Notes | Code for Portland
heading: Meeting Notes
group: navigation
---

{% assign posts = site.categories.meeting-notes %}

<header class="article-header trailer-2">
  <div class="row">
    <hgroup class="large-8 large-centered columns padding-leader-2 padding-trailer-2">
      <h1 class="article-title">Meeting Notes</h1>
    </hgroup>
  </div>
</header>

<main class="leader-2 trailer-2">
  {% for post in posts %}
    {% include post.html %}
    {% unless forloop.last %}
    <hr class="leader-3 trailer-2">
    {% endunless %}
  {% endfor %}
</main>
