doctype html
html(lang="en")
  head
    title PROJECT_NAME
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(name="description", content="PROJECT_DESCRIPTION")
    meta(name="author", content="Nathan Wittstock, Far Dog LLC")
    meta(name="keywords", content="PROJECT_KEYWORDS")
    meta(name="copyright", content="Far Dog LLC, Copyright (c) 2014.")

    script(type="text/javascript", src=modernizr)
    each file in css
      link(rel="stylesheet", href=file)
  body
    .row
      .medium-6.medium-centered.columns
        h1 Static Site Template
        p.
          See README.md for details on how to use this template and its
          build scripts.

    .row
      .medium-6.medium-centered.columns
        footer
          | &copy; 2014 
          a(href="http://fardogllc.com/", target="_blank") Far Dog LLC

    each file in js
      script(type="text/javascript", src=file)
